.invoice-container {
    font-size: 15px;
}
  
/* Botón de búsqueda de cliente */
.btn-general {
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 20px;
}

/* Estilos para el encabezado de la factura */
h1 {
    font-size: 50px;
    color: #333;
  }
  
  h3 {
    font-size: 20px;
    font-weight: bolder;
  }
  
  /* Espaciado entre los botones de acción */
  .form-group.d-flex .btn {
    min-width: 120px;
  }
  
  /* Estilo adicional para los campos de la factura */
  .form-group label {
    font-weight: 600;
  }