/* Fondo translúcido para el menú */
.navbar {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo translúcido */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Sombra */
  backdrop-filter: blur(8px); /* Desenfoque en el fondo */
  -webkit-backdrop-filter: blur(8px); /* Compatibilidad con Safari */
}

/* Hover para enlaces del menú */
.navbar-nav .nav-link {
  color: white; /* Texto en blanco */
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-nav .nav-link:hover {
  background-color: rgba(180, 169, 169, 0.1); /* Fondo blanco translúcido en hover */
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra en hover */
}

/* Estilo para el menú activo */
.navbar-nav .nav-item.active .nav-link {
  background-color: lightslategray; /* Color de fondo en la página activa */
  color: white;
}

/* Estilo específico para el botón de "Cerrar sesión" */
.navbar-nav .cerrar-sesion {
  color: white;
}

.navbar-nav .cerrar-sesion:hover {
  background-color: #FF2800; /* Color rojo en hover */
  color: white;
}
