<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <!-- Botón para pantallas pequeñas -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Elementos de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item me-4" routerLinkActive="active">
          <a class="nav-link" routerLink="/pantalla-facturas">Facturas</a>
        </li>
        <li class="nav-item me-4" routerLinkActive="active">
          <a class="nav-link" routerLink="/pantalla-clientes">Clientes</a>
        </li>
        <li class="nav-item me-4" routerLinkActive="active">
          <a class="nav-link" routerLink="/pantalla-productos">Productos</a>
        </li>
        <li class="nav-item me-4" routerLinkActive="active">
          <a class="nav-link" routerLink="/pantalla-listado-facturas">Listado de facturas</a>
        </li>
      </ul>

      <!-- Botón de cerrar sesión alineado a la derecha -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" (click)="showLogoutPopup = true">
          <a class="nav-link cerrar-sesion">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Pop-up para cerrar sesión -->
  <app-popup-cerrar-sesion
    *ngIf="showLogoutPopup"
    (closePopupEvent)="showLogoutPopup = false"
  ></app-popup-cerrar-sesion>
</nav>
