<div class="popup-overlay" *ngIf="showPopupProductos">
  <div class="popup-box">
    <h3>Seleccionar producto</h3>
    <table>
      <thead>
        <tr>
          <th></th> <!-- Columna para el radio button -->
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos" [class.selected]="producto === productoSeleccionadoObj">
          <!-- Radio button para seleccionar el cliente -->
          <td>
            <input
              type="radio"
              name="productoSeleccionado"
              [(ngModel)]="productoSeleccionadoObj"
              [value]="producto"
            />
          </td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio }} €</td>
        </tr>
      </tbody>
    </table>

    <div class="actions mt-3">
      <!-- Botón para confirmar la selección del cliente -->
      <div class="form-group d-flex justify-content-end">
        <button (click)="confirmarSeleccionProducto()" [disabled]="!productoSeleccionadoObj" class="btn btn-success popup-buttons">
          Confirmar Selección
        </button>
        <button (click)="closePopup()" class="btn btn-danger popup-buttons">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
