<div class="popup-overlay" *ngIf="showPopupClientes">
  <div class="popup-box">
    <h3>Seleccionar Cliente</h3>
    <table>
      <thead>
        <tr>
          <th></th> <!-- Columna para el radio button -->
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI/CIF</th>
          <th>Dirección</th>
          <th>Código postal</th>
          <th>Población</th>
          <th>Provincia</th>
          <th>País</th>
          <th>Teléfono</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes" [class.selected]="cliente === clienteSeleccionadoObj">
          <!-- Radio button para seleccionar el cliente -->
          <td>
            <input
              type="radio"
              name="clienteSeleccionado"
              [(ngModel)]="clienteSeleccionadoObj"
              [value]="cliente"
            />
          </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.dniCif }}</td>
          <td>{{ cliente.direccion }}</td>
          <td>{{ cliente.codigoPostal }}</td>
          <td>{{ cliente.poblacion }}</td>
          <td>{{ cliente.provincia }}</td>
          <td>{{ cliente.pais }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.email }}</td>
        </tr>
      </tbody>
    </table>

    <div class="actions mt-3">
      <!-- Botón para confirmar la selección del cliente -->
      <div class="form-group d-flex justify-content-end">
        <button (click)="confirmarSeleccionCliente()" [disabled]="!clienteSeleccionadoObj" class="btn btn-success popup-buttons">
          Confirmar Selección
        </button>
        <button (click)="closePopup()" class="btn btn-danger ml-2 popup-buttons">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
